@using WebGentle.BookStore.Models
@model List<BookModel>
@{
    Layout = "_Layout";
    //var books = Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Books</title>
</head>
<body>
    <div class="container">
        <h3>All Books</h3>
        <div class="row">

            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <p class="card-text">@book.Detail</p>
                            <div class="d-flex justify-content-between">
                                <a asp-controller="book" asp-action="getbook" asp-route-id="@book.Id" class="card-link">Detail</a>
                                <small class="text-muted">@book.Author</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
