@{
    Layout = "_Layout";
}
        <h1>Home</h1>
        <button class="btn btn-primary">click</button><button class="btn btn-danger">click</button>
        <button class="btn btn-primary">click</button><button class="btn btn-danger">click</button>